{% extends "layout.html" %}


{% block content %}
    <div class="loading-screen hidden" >
        <img src="/static/giphy.webp" alt="loading" id="loading-gif">
        <h1>Loading...</h1>
        <h2 id="random-fact">{{ random_fact }}</h2>
    </div>


    <form action="" method="POST">

        <h1 style="text-align: center;">Flashcards Generator</h1>
        <div class="form-container">

            <textarea name="input" id="" required cols="30" rows="10" id="" placeholder="Enter your notes here."></textarea>
            <div class="flashcard-controls">

                <input type="number" required min="1" max="10" name="number_of_flashcards" placeholder="How Many Flashcards? (more flashcards = more time)" id="">    
                <h2>Difficulty</h2>
                <input type="range"  name="difficulty" min="1" max="5" id="difficulty" value="1" oninput="this.nextElementSibling.value = this.value;">
                <output id="difficultyValue">1</output>
            </div>
    
            <button type="submit">Submit</button>
        </div>
    </form>

<style>
    .hidden {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
</style>

<script>
    document.querySelector('form').addEventListener('submit', function(e) {
        document.querySelector('.loading-screen').classList.remove('hidden');
    });

    
</script>

{% endblock %}

